{% extends 'base.html' %} 
{% load bootstrap %}
{% block content %}


<form method='get'>
  {{filtered_pokemon.form|bootstrap}}
  <input type="submit" value="search"></input>
</form>
<br>
{% comment %} {% for poke in filtered_pokemon.qs %}
    <h4>{{poke.id}} - {{poke.name}}</h4>
    <br>
{% endfor %} {% endcomment %}

{% for list in filtered_pokemon.qs|batch(3) %}
<div class="row">
    {% for poke in list %}
    <div class="span4"><h4>{{poke.id}} - {{poke.name}}</h4></div>
    {% endfor %}
</div>
{% endfor %}
{% comment %} <p>Top Line</p>
<div class="d-flex justify-content-between">
  <form method='get'>
    {{f_pokemon|bootstrap}}
    <input class="btn btn-primary" type="submit" value="filter">
  </form>
</div>
<p>Top Line</p>
<table class="table">
  {% for poke in f_pokemon2 %}
      <div
        class="card rounded px-2 py-1 mb-2"
        type="button"
        style="width: 18rem; background-color: {{poke.type_name.values.last.color}}"
      >
        <div class="d-flex justify-content-between mt-1">
          <div class="d-flex flex-row align-items-center">
            <div class="ms-2 mt-1 c-details">
              <h6 class="">
                <b>#{{poke.id}} / Gen {{poke.generation}} / {{poke.region}}</b>
              </h6>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <span class="text1">
              {% for type in poke.type_name.all %}
              <img
                src="{{type.image}}"
                style="width: 2rem"
                class="border border-dark rounded-circle"
              />
              {% endfor %}
            </span>
          </div>
        </div>
        <img class="card-img-top rounded img-fluid" src="{{poke.image}}"
        alt="Card image cap" onclick="display_random_image();>
        <div class="mx-2 mb-1">
          <h3 class="card-title text-center">{{poke.name}}</h3>
        </div>
      </div>
  {% endfor %}
</table> {% endcomment %}
{% endblock content %}

