{% extends 'base.html' %} 
{% load bootstrap %}
{% block menubar %}
<div class="container">
<nav class="sidebar position-fixed col-sm-3">
<div class="container form-control">
<form method='get' class="float-center ">
  {{filtered_pokemon.form|bootstrap}}
  <br><br><input class="btn btn-primary" type="submit" value="Filter"></input>
</form>

<br><br>
<h5>Total Pokemon Found - {{filtered_pokemon.qs|length}} </h5>
</div>
</nav>
</div>
{% endblock%}



{% block content %}
  {% for list in pokemon %}
  <table class="table">
  <tr>
    {% for poke in list %}
    <td>
      <div
        class="card rounded px-2 mb-0"
        type="button"
        style="width: 18rem; background-color: {{poke.type_name.values.last.color}}">
          
          <div class="d-flex justify-content-between mt-1">
            <div class="d-flex flex-row align-items-center">
              <div class="ms-2 mt-1 c-details">
                <h6 class="">
                  <b>#{{poke.id}} / ReGen - {{poke.regen.first.gen}}, {{poke.regen.first.reg}}</b>
                </h6>
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <span class="text1">
                {% for type in poke.type_name.all %}
                <img
                  src="{{type.image}}"
                  style="width: 2rem"
                  class="border border-dark rounded-circle"
                />
                {% endfor %}
              </span>
            </div>
          </div>
          
          <img class="card-img-top rounded img-fluid" src="{{poke.image}}" alt="Card image cap">
          <h3 class="card-title text-center">{{poke.name}}</h3>
      </div>
    {% endfor %} 
  </tr>
  </table>
  {% endfor %}

{% endblock content %}
